<p>
<%= @deal.startdate %>
<%= @deal.enddate %>
<%= @deal.location %>
<%= @deal.actualprice %>
<%= @deal.discountprice %>
<%= @deal.address %>
<%= @deal.contact %>
<%= @deal.dealtype %>
<%= @deal.member_id %>
</p>

