
<p>
 <strong>DealName: </strong> <%= @deal.dealname %>
</p>

<p>
 <strong>StartDate: </strong> <%= @deal.startdate %>
</p>

<p>
  <strong>EndDate: </strong><%= @deal.enddate %>
</p>

<p>
  <strong>Location: </strong><%= @deal.location %>
</p>

<p>
  <strong>DealType: </strong><%= @deal.dealtype %> 
</p>

<p>
  <strong>ActualPrice: </strong><%= @deal.actualprice %> 
</p>

<p>
  <strong>DiscountPrice: </strong><%= @deal.discountprice %> 
</p>

<p>
  <strong>Contact: </strong><%= @deal.contact %> 
</p>

<p>
  <strong>Address: </strong><%= @deal.address %> 
</p>

