 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li class="active">   <%= link_to 'Home' , root_path%> </li>
              <li class="active"><a href="/deals">View All Deals</a></li>
              <li class="active"><a href="/deals/search">Search Deals</a></li>
              <% if member_signed_in? %>
              <li>   <%= link_to 'Edit profile', edit_member_registration_path %> </li>
              <li>   <%= link_to 'My Deals', mydeals_path %> </li>
              <li>   <%= link_to 'New Deal',new_deal_path %> </li>
              <li>   <%= link_to current_member.email, root_path %> </li>
              <li>   <%= link_to "Logout", destroy_member_session_path, method: :delete %> </li>
             <% else %>
              <li>  <%= link_to "Sign up", new_member_registration_path  %> </li>
              <li>  <%= link_to "Login", new_member_session_path  %> </li>
             <% end %>
            </ul>
          </nav>
        </div>
      </div>
 </header>
   
